
html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html, *{
	cursor: none;
}

a{
	text-decoration: none;
}

/*footer{
	width: 100%;
	height: 60px;
	position: relative;
	bottom: 0px;
	display: flex;
	background-color: black;
}

footer h6{
	font-size: 12px;
	padding: 0;
	margin: auto;
	text-align: center;
	color: white;
}*/

/*#e77a00*/
/*#1885ff*/
/*#dfeeff*/

.cursor{
	position: fixed;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: rgb(223,238,255,.9);
	pointer-events: none;
	z-index: 1000; 
	transition: transform .2s;
}

.cross{
  position: absolute;
}

.cross:after, .cross:before{
  position: absolute;
  content: ' ';
  right: 50%;
  height: 100%;
  width: 2px;
  background-color: white;
}

.cross:after{
  transform: rotate(45deg);
}

.cross:before{
  transform: rotate(-45deg);
}

.bars{
	position: relative;
}

.bars .bar{
	position: absolute;
	height: 2px;
	width: 100%;
}

.bars-30{
	width: 30px;
	height: 20px;
}

.bars .top-bar{
	top: 0px;
}

.bars .mid-bar{
	top: 50%;
}

.bars .bottom-bar{
	top: 100%;
}

.overlay-div{
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: rgba(24, 133, 255, .5);*/

}

.parallax{
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.sect-cont{
	position: relative;
}

.sect-short{
	height: 100%;
	max-width: 1600px;
}

.sect-div{
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100vw;
	z-index: 0;
}

.sect-div-top{
	background-color: #dfeeff;
}

.sect-div-angle{
	border-top: solid #dfeeff 100px;
	border-right: solid transparent; 
	border-left: solid transparent; 
}

.sect-title h1{
	font-size: 30px;
}

.sect-description{
	padding: 0;
	font-size: 17px;
}

.sect-short-cont{
	width: 100%;
	padding: 0; 
	margin: 0;
}

.short-cont{
	display: grid;
	height: 100%;
	align-items: center;
	text-align: center;
	align-content: space-between;
}

.short-cont-divide{
	border: 1px solid lightgrey;
}

.sect-short-img-cont-main{
	height: 400px;
	width: 400px;
	margin: 10px;
}

.sect-short-img-cont{
	height: 100%;
	width: 100%;
	transition-property: transform, box-shadow;
	transition: .2s;
}

.sect-info-full{
	position: relative;
	display: grid;
	width: 100vw;
	grid-template-areas: 
	"info";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
}

.sect-info-split{
	position: relative;
	display: grid;
	grid-template-areas: 
	"left right";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}


.sect-info-side-title{
	position: absolute;
	display: grid;
	height: 100%;
	width: 30px;
	top: 0;
	left: 0;
	grid-template-areas: 
	"topline" 
	"title" 
	"bottomline";
	grid-template-rows: 1fr auto 1fr;
	align-items: center;
	justify-items: center;
	color: white;

}

.sect-info-side-title h6{
	grid-area: title;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.sect-title-line{
	height: 85%;
	width: 2px;
	border-radius: 1px;
	background-color: white;
}

.sect-title-top-line{
	grid-area: topline;
}

.sect-title-bottom-line{
	grid-area: bottomline;
}

.sect-split-image{
	position: relative;
	width: 100%;
	padding: 50px;
}

.sect-split-image-cont{
	position: relative;
	width: 100%;
	padding-top: calc((9/16)*100%);
}

.sect-image-inner-cont{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 4px dashed #1885ff; /* Temporary */
	z-index: 1;
}

.sect-split-left{
	position: relative;
	height: 1fr;
	grid-column-start: left;
	overflow: hidden;
}

.sect-split-right{
	position: relative;
	height: 1fr;
	grid-column-start: right;
	overflow: hidden;
}

.img-cont-overlay{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .2s;
}

.img-cont-overlay-button{
	display: flex;
	color: black;
	width: 40px;
	height: 40px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: white;
	border-radius: 100%;
	transition-property: transform, box-shadow;
	transition: .2s;
}

.img-cont-overlay-button i{
	transition: color .2s;
}

.img-cont-overlay-button:hover{
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	transform: scale(1.2);
	cursor: pointer;
}

.img-cont-overlay-button:hover i{
	color: #1885ff;
}

.overlay-text{
	padding: 0;
	margin: 0;
}

.underline{
	position: relative;
}

.underline::after{
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	content: "";
	height: 2px;
	width: 100%;
	transition: .2s;
}

.sect-short-img-cont:hover .img-cont-overlay{
	opacity: 1;
}

.sect-short-img-cont:hover{
	transform: scale(1.02);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.learn-more{
	color: rgba(0, 0, 0, .4);
	padding: 10px;
	margin: 10px;
	font-size: 15px;
	transition: color .2s;
}

.learn-more-text{
	display: inline-block;
	transform: translateX(11px);
	transition: transform .2s;
}

.learn-more-bar{
	visibility: hidden;
	display: inline-block;
	transition: transform .2s;
}

.learn-more:hover{
	color: rgba(0, 0, 0, 1);
}

.learn-more a{
	transition: color .2s;
}

.learn-more a:hover{
	color: #1885ff;
}

.learn-more a:hover .learn-more-text{
	transform: translateX(-4px);
}

.learn-more a:hover .learn-more-bar{
	visibility: visible;
	transform: translateX(1px);
}

.learn-more-button{
	position: relative;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}

/* Welcome */

.main-sect{
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	
}

.main-sect-cont{
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
}

.tect-blue{
	color: #1885ff; /* rgba(24, 133, 255, 1) */
}

.light-blue{
	color: #dfeeff; /* rgba(223, 238, 255, 1) */
}

/* Dark Color: #064b99 */

.bg-tect-blue{
	background-color: #1885ff;
}

.bg-white{
	background-color: white;
}

.black-button{
	margin: 15px 0; 
	padding: 7px 17px;
	color: white;
	background-color: #1885ff;
	border: none;
	overflow: hidden;
	border-radius: 50px;
}

.white-button{
	margin: 15px 0; 
	padding: 5px 15px;
	color: white;
	border: 2px solid white;
	border-radius: 50px;
	overflow: hidden;
	transition: border .05s;
}

.white-button h6, .black-button h6{
	display: inline-block;
	padding: 0;
	margin: 0;
}

.button-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-radius: 50px;
	z-index: 0;
	background-color: rgba(223,238,255,.4);
	transition: width .5s ease;
}

.button-overlay h6{
	z-index: 1;
}

.black-button:hover .button-overlay, .white-button:hover .button-overlay{
	border: 5px solid transparent;
	width: 100%;
}

.background-div{
	position: absolute;
	top: 0;
	right: 0; 
	bottom: 0; 
	left: 0;
	width: 100%;
}

.title-underline{
	border-bottom: 3px solid #1885ff;
	padding: 0 5px
}

.back-gradient{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	background: rgb(223,238,255);
	background: linear-gradient(0deg, rgba(223,238,255,1) 0%, rgba(250,252,255,1) 40%, rgba(255,255,255,0) 100%);
}

@media screen and (max-width: 430px){
	.sect-split-image{
		position: relative;
		width: 100%;
		padding: 0;
	}
}

@media only screen and (max-device-width: 1366px) and (orientation: landscape){
	.cursor{
		display: none;
		pointer-events: auto;
	}

	html, *{
		cursor: default;
	}
}


@media only screen and (max-device-width: 1024px) and (orientation: portrait){
	.cursor{
		display: none;
		pointer-events: auto;
	}

	html, *{
		cursor: default;
	}
}