.main-navigation{
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: center;
	z-index: 999;
	background-color: white;
	overflow-y: hidden;
	transition: height .2s;
}

.main-navi-cont{
	position: relative;
	width: 100%;
	max-width: 1600px;
	height: 100%;
}

#navi-logo-sect{
	position: absolute;
	height: 100%;
	width: 100px;
	left: 0px;
}

#navi-logo-sect img{
	height: 100%;
	width: 100%;
	transform: scale(.6);
}

#navi-main-sect{
	position: absolute;
	height: 100%;
	width: calc(100% - 200px);
	right: 100px;
}

#navi-main-items{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	right: 0px;
}

#navi-main-items ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navi-under-bar{
	position: absolute;
	bottom: 0px;
	height: 2px;
	left: 0px;
	background-color: white;
	transition-property: width, left;
	transition: .2s ease;
}

#navi-main-items .navi-main-item{
	display: inline-block;
	padding: 0px 10px;
}

#navi-main-items .navi-main-item h5{
	display: inline-block;
	height: 100px;
	line-height: 100px;
	margin: 0;
	font-weight: 600;
}

#navi-bars-sect{
	position: absolute;
	height: 100%;
	width: 100px;
	right: 0px;
}

.transparent-navi{
	background-color: none;
	color: black;
}

.white-navi{
	background-color: rgba(255, 255, 255, 1);
	color: black;
}

.blue-navi{
	background-color: rgba(24, 133, 255, 1);
	color: white;
}

.blue-navi img{
	filter: brightness(0) grayscale(1) saturate(0) invert(1);
}

.transparent-navi .navi-under-bar{
	background-color: none;
}

.blue-navi .navi-under-bar{
	background-color: white;
}

.white-navi .navi-under-bar{
	background-color: rgba(24, 133, 255, 1);
}