/* Navigation Overlay */
#main-navigation-overlay{
	position: fixed;
	display: none;
	top: 0px;
	height: 100vh;
	width: 100%;
	z-index: 1000;
	background-color: white;
}

#navi-overlay-cont{
	position: absolute;
	display: flex;
	width: 100%;
	height: calc(100vh - 75px);
	top: 75px;
	align-items: center;
	justify-content: center;
}

.navi-overlay-inner{
	position: relative;
	height: 100%;
	max-width: 1600px;
	width: 100%;
	padding: 25px;
}

.overlay-main-links h1{
	margin: 0;
	padding: 0;
	font-size: 12vmin;
	font-weight: 600;
}

/* Main Navigation */
.main-navigation{
	display: flex;
	width: 100%;
	height: 75px;
	align-items: center;
	justify-content: center;
	background-color: white;
	overflow-y: hidden;
	z-index: 1001;
}

.main-navi-cont{
	position: relative;
	width: 100%;
	max-width: 1600px;
	height: 100%;
}

#navi-logo-sect{
	position: absolute;
	height: 75px;
	width: 75px;
	left: 0px;
}

#navi-logo-sect img{
	height: 100%;
	width: 100%;
	transform: scale(.6);
}

#navi-main-sect{
	position: absolute;
	height: 100%;
	width: calc(100% - 150px);
	right: 75px;
}

#navi-main-items{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	right: 0px;
}

#navi-main-items ul{
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navi-under-bar{
	position: absolute;
	bottom: 0px;
	height: 2px;
	left: 0px;
	background-color: white;
	transition-property: width, left;
	transition: .2s ease;
}

#navi-main-items .navi-main-item{
	display: inline-block;
	padding: 0px 10px;
}

#navi-main-items .navi-main-item h5{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin: 0;
	font-weight: 600;
}

#navi-bars-sect{
	position: absolute;
	display: flex;
	height: 75px;
	width: 75px;
	align-items: center;
	justify-content: center;
	right: 0px;
}

.transparent-navi{
	background-color: none;
	color: black;
}

.white-nav{
	background-color: rgba(255, 255, 255, 1);
	color: black;
}

.blue-navi{
	background-color: rgba(24, 133, 255, 1);
	color: white;
}

.blue-navi img{
	filter: brightness(0) grayscale(1) saturate(0) invert(1);
}

.transparent-navi .navi-under-bar{
	background-color: none;
}

.blue-navi .navi-under-bar{
	background-color: white;
}

.white-navi .navi-under-bar{
	background-color: rgba(24, 133, 255, 1);
}

.transparent-navi .bars .bar{
	background-color: black;
}

.blue-navi .bars .bar{
	background-color: white;
}

.white-navi .bars .bar{
	background-color: black;
}

@media only screen and (max-width: 600px){
	.main-navigation #navi-main-items{
		display: none
	}

	.home-navigation #navi-main-sect{
		width: 100%;
		right: 0px;
	}

	.home-navigation #navi-main-items{
		display: flex;
	}
}