/* Navigation Overlay */
#main-navigation-overlay{
	position: fixed;
	display: none;
	top: 0px;
	height: calc(100vh);
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	z-index: 1000;
	border: 0px solid #1885ff;
	background-color: white;
	transition: border-width .2s;
}

#navi-overlay-cont{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: calc(100vh - 107px);
	min-height: calc((var(--vh, 1vh) * 100) - 107px);
	top: 75px;
}

.navi-overlay-inner{
	position: relative;
	max-width: 1600px;
	min-height: 100%;
	max-height: calc(100vh - 107px);
	min-height: calc((var(--vh, 1vh) * 100) - 107px);
	width: 100%;
	padding: 0 50px;
	overflow-y: auto;
}

.navi-overlay-inner-cont{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	padding: 50px 0;
}

.overlay-main-links{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	left: 0;
	transition: opacity .2s; 
}

.overlay-main-links ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.overlay-main-link{
	display: block;
	padding-top: 30px;
	transition: opacity .2s; 
}

.overlay-main-links:hover .overlay-main-link{
	opacity: .6;
}

.overlay-main-links:hover .overlay-main-link:hover{
	opacity: 1;
}

.overlay-main-link:nth-child(1){
	padding-top: 0px;
}

.overlay-main-link button{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background-color: transparent;
}

.overlay-main-link button h1{
	padding: 0;
	margin: 0;
	line-height: 100%;
	font-size: 12vmin;
	font-weight: 600;
	color: #1885ff;
}

.overlay-page-links{
	position: relative;
	display: none;
	padding-right: 10px;
	justify-content: center;
	width: 100%;
}

.overlay-page-links ul{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.overlay-page-item{
	display: block;
	width: 100%;
	margin: 0;
	padding-top: 15px;
	list-style-type: none;
	transition: opacity .2s;
}

.overlay-page-item:nth-child(1){
	padding: 0px;
	float: none;
}

.overlay-page-links:hover .overlay-page-item{
	opacity: .6;
}

.overlay-page-links:hover .overlay-page-item:hover{
	opacity: 1;
}

.overlay-page-links h3{
	display: inline;
	padding: 0; 
	margin: 0;
	font-weight: 600;
	font-size: 7vmin;
}

.overlay-underline{
	position: relative;
	display: none;
	float: left;
	height: 2px;
	width: 100%;
	margin: 30px 0;
	border-radius: 1px;
	background-color: rgba(0, 0, 0, .3);
}

/* Main Navigation */
.main-navigation{
	display: flex;
	width: 100%;
	height: 75px;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	z-index: 1001;
	transition-property: width, margin, background-color;
	transition-duration: .2s;
}

.main-navi-cont{
	position: relative;
	width: 100%;
	max-width: 1600px;
	height: 100%;
}

#navi-logo-sect{
	position: absolute;
	height: 75px;
	width: 75px;
	left: 0px;
}

#navi-logo-sect img{
	height: 100%;
	width: 100%;
	transform: scale(.6);
}

#navi-main-sect{
	position: absolute;
	height: 100%;
	width: calc(100% - 150px);
	right: 75px;
}

#navi-main-items{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	right: 0px;
}

#navi-main-items ul{
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navi-under-bar{
	position: absolute;
	bottom: 0px;
	height: 2px;
	left: 0px;
	background-color: white;
	transition-property: width, left;
	transition: .2s ease;
}

#navi-main-items .navi-main-item{
	display: inline-block;
	padding: 0px 10px;
}

#navi-main-items .navi-main-item h5{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin: 0;
	font-weight: 600;
}

#navi-bars-sect{
	position: absolute;
	display: flex;
	height: 75px;
	width: 75px;
	align-items: center;
	justify-content: center;
	right: 0px;
}

.transparent-navi{
	background-color: none;
	color: black;
}

.white-navi{
	background-color: rgba(255, 255, 255, 1);
	color: black;
}

.blue-navi{
	background-color: rgba(24, 133, 255, 1);
	color: white;
}

.dark-blue-navi{
	background-color: rgba(6, 75, 153, 1);
	color: white;
}

.blue-navi img{
	filter: brightness(0) grayscale(1) saturate(0) invert(1);
}

.dark-blue-navi img{
	filter: brightness(0) grayscale(1) saturate(0) invert(1);
}

.transparent-navi .navi-under-bar{
	background-color: transparent;
}

.blue-navi .navi-under-bar{
	background-color: white;
}

.dark-blue-navi .navi-under-bar{
	background-color: white;
}

.white-navi .navi-under-bar{
	background-color: rgba(24, 133, 255, 1);
}

.transparent-navi .bars .bar{
	background-color: black;
}

.blue-navi .bars .bar{
	background-color: white;
}

.dark-blue-navi .bars .bar{
	background-color: white;
}

.white-navi .bars .bar{
	background-color: black;
}

@media only screen and (max-width: 600px){
	.overlay-underline{
		display: block;
	}

	.overlay-page-links{
		display: block;
	}

	.main-navigation #navi-main-items{
		display: none
	}

	.home-navigation #navi-main-sect{
		width: 100%;
		right: 0px;
	}

	.home-navigation #navi-main-items{
		display: flex;
	}
}

@media only screen and (max-width: 450px){	
}