.main-footer{
	background-color: #1885ff;
	position: relative;
	width: 100%;
	color: white;
}

.main-footer a{
	position: relative;
}
.main-footer a:before{
	position: absolute;
	content: "";
	width: 0px;
	top: 105%;
	border-bottom: 1px solid white;
	transition: width .5s ease;
}

.main-footer a:hover:before{
	width: 100%;
}

.main-footer button{
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	background-color: transparent;
	color: white;
	border: none;
	outline: none;
	text-align: justify;
}

.main-footer button:before{
	position: absolute;
	content: "";
	width: 0px;
	top: 105%;
	border-bottom: 1px solid white;
	transition: width .5s ease;
}

.main-footer button:hover:before{
	width: 100%;
}

.footer-main-sect{
	position: relative;
	width: 100%; 
}

#footer-main{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.footer-sect{
	position: relative;
}

#footer-main-inner-sect{
	display: block;
	height: 100%;
	width: 100%;
	max-width: 1600px;
}

.footer-sect-cont-header{
	color: white;
}

.footer-sect-cont-header h4{
	padding: 0px 0px 3.125px 0px;
	margin: 0px;
	font-weight: 600;
}

#footer-main-logo{
	display: flex;
	float: left;
	width: 33.33%;
	min-height: 300px;
	padding: 25px;
	align-items: center;
	justify-content: center;
}

#footer-main-logo img{
	width: 200px;
	filter: brightness(0) grayscale(1) saturate(0) invert(1);
}

#footer-main-navi{
	float: left;
	width: 33.33%;
	min-height: 300px;
	padding: 25px;
}

.footer-list{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 33.33%;
}


.footer-list h5, .footer-list h6{
	padding-top: 3.125px;
	margin: 0px;
}

.footer-list h5{
	font-weight: 600;
}

.footer-list h6{
	font-weight: 300;
}

#footer-general{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#footer-about{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footer-portfolio{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


#footer-main-contact{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	float: left;
	width: 33.33%;
	min-height: 300px;
	padding: 25px;
}

.footer-sect-cont-main h6{
	font-weight: 300;
}

.footer-icon{
	padding-right: 10px;
}

#address-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#social-cont{
	display: flex;
	justify-content: center;
}

#social-icon-cont a{
	font-size: 30px;
}

#social-icon-cont a:hover:before{
	width: 0%;
}

#footer-bottom{
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: center;
	background-color: #064b99;
}

/* Links */

#contact-link-phone:before{
	border-bottom: 1px dotted white;
}

#contact-link-email:before{
	border-bottom: 1px dotted white;
}

@media only screen and (max-width: 1000px){
	#footer-main-logo{
		display: none;
	}

	#footer-main-navi{
		width: 60%;
	}

	#footer-main-contact{
		width: 40%;
	}
}

@media only screen and (max-width: 570px){
	#footer-main-logo{
		display: none;
	}

	#footer-main-navi{
		height: 100%;
		min-height: 0px;
		width: 100%;
		padding-bottom: 12.25px;
	}

	#footer-main-contact{
		flex-direction: row;
		height: 100%;
		min-height: 0px;
		width: 100%;
		padding-top: 12.25px;
	}

	#address-cont{
		align-items: flex-start;
		width: 50%;
	}

	#contact-cont{
		align-items: flex-end;
		width: 50%;
	}

	#social-cont{
		width: 100%;
		align-items: center;
		flex-direction: column;
	}
}

@media only screen and (max-width: 415px){
	.main-footer h6{
		font-size: 12.5px;
	}
}

@media only screen and (max-width: 350px){
}

@media only screen and (max-width: 340px){
	#address-cont{
		width: 75%;
	}

	#contact-cont{
		align-items: flex-start;
		width: 75%;
	}

	#social-cont{
		position: absolute;
		right: 18px;
		top: 0px;
		bottom: 0px;
		width: 15%;
	}
}