body, html{
	width: 100vw;
}

h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0; 
}

fieldset{
	padding: 0;
	margin: 0;
	border: none;
}

nav{
	position: fixed;
}

.portfolio-sidebar{
	position: fixed;
	width: 0;
	height: calc(100vh - 100px);
	top: 100px;
	background-color: #1885ff;
	transition-duration: .2s;
	transition-property: width;
	z-index: 3;
	overflow-x: hidden;
}

#sidebar-title-h i{
	padding-right: 10px;
}

.shade-overlay{
	position: fixed;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: .5;
	z-index: 2;
}

#portfolio-main-sect{
	display: flex;
	position: absolute;
	min-height: calc(100vh - 100px);
	z-index: 1;
	overflow-x: hidden;
	top: 100px;
	background-color: white;
	transition-property: transform;
	transition-duration: .2s;
}

#portfolio-main-sect-cont{
}

#portfolio-cont{
	width: 100vw;
}

#portfolio-main-dash{
	position: relative;
	display: grid;
	grid-template-rows: 70px 1fr; 
	min-height: 60px;
}

#portfolio-search-cont{
	position: relative;
	display: grid;
	grid-template-columns: 60px auto;
	grid-column-gap: 15px;
	grid-template-rows: 1fr;
	grid-template-areas: "filters search";
	border-radius: 36px;
	border: 4px solid #dfeeff;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

#sidebar-button-main{
	position: absolute;
	display: flex;
	grid-column-start: 1;
	height: 60px;
	width: 60px;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	font-size: 25px;
	transition-property: transform, box-shadow. background-color;
	transition-duration: .2s;
}

#sidebar-button-main:hover{
	color: #1885ff;
}

#sidebar-button-main i{
	padding: 0;
	margin: 0;
}

#sidebar-button-exit{
	padding: 0px;
	margin: 0px;
	top: 5px;
	right: 5px;
	height: 22.5px;
	width: 22.5px;
}

#sidebar-button-exit:hover{
	color: #dfeeff;
}

.sidebar-title-cont{
	width: 300px;
	height: 80px;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(223, 238, 255, .4);
}

.sidebar-filter-form{
	position: relative;
	width: 300px;
}

.sidebar-filter-cont{
	position: relative;
	width: 300px;
	border-bottom: 1px solid rgba(223, 238, 255, .4);
}

.sidebar-filter-button{
	padding: 0;
	outline: none;
	color: white;
	background-color: transparent;
	border: none;
	transition-property: background-color;
	transition-duration: .2s;
}

.sidebar-filter-button-cont{
	display: grid;
	width: 300px;
	height: 60px;
	grid-template-columns: auto 60px;
	grid-template-rows: 60px;
	align-content: center;
	justify-items: center;
	color: white;
	background-color: transparent;
	border: none;
	transition-property: background-color;
	transition-duration: .2s;
}

.sidebar-button-title{
	display: flex;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.sidebar-button-indicator{
	display: flex;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: center;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.sidebar-filter-dropdown{
	width: 300px; 
	height: 0px; 
	overflow: hidden;
	background-color: #dfeeff;
	transition-duration: .5s;
	transition-property: height;
	transform-style: ease;
}

.sidebar-dropdown-item{
	display: grid;
	width: 300px;
	height: 60px;
	grid-template-columns: auto 60px;
	grid-template-rows: 60px; 
	color: black;
	transition-duration: .2s;
	transition-property: background-color. color;
}

.sidebar-dropdown-item:hover{
	background-color: rgba(24, 133, 255, .4);
	color: white;
}

.sidebar-drop-title{
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;
	grid-column-start: 1; 
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.sidebar-drop-button{
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;
	grid-column-start: 2; 
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.sidebar-drop-switch{
	position: relative;
}

.portfolio-search{
	height: 100%;
	width: 100%;
	padding: 7.5px 30px 7.5px 0;
	grid-column-start: 2;
	font-size: 25px;
}

.portfolio-search input{
	border-radius: 22.5px;
	border: none;
	outline: none;
	height: 100%; 
	width: 100%;
}

.portfolio-items-cont{
	display: block;
	padding: 15px; 
	height: 100%;
}

.portfolio-items{
	height: 100%;
}

.portfolio-item{
	float: left;
	padding: 15px;
}

.portfolio-item-cont{
	width: 100%;
	height: 100%;
	background-color: #1885ff;
	transition-property: transform;
	transition-duration: .2s;
}

.portfolio-item-cont:hover{
	transform: scale(1.05);
}

#help-switch{
	position: absolute;
}

/* default stuff */
.switch {
	display: inline-block;
	width: 45px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgrey;
	transition: .2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: .2s;
}


.switch input:checked + .slider {
	background-color: #1885ff;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px #1885ff;
}

.switch input:checked + .slider:before {
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#help-switch{
	top: -30px;
	right: 30px;
}

#help-mode-full{
	position: absolute;
	display: flex;
	width: 110px;
	top: -30px;
	right: 80px;
	font-size: 15px;
}

#help-mode-underline{
	border-bottom: 1px dotted black;
}

#help-mode-underline:hover ~ .popup-cont, .popup-cont:hover{
	visibility: visible;
	opacity: 1;
}

.popup-cont{
	position: absolute;
	display: flex;
	visibility: hidden;
	opacity: 0;
	width: 200px;
	z-index: 4;
	background-color: #1885ff;
	color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition-property: opacity, visibility;
	transition-delay: .05s;
	transition-duration: .2s;
}

.popup-text{
	width: 100%;
	padding: 0 20px;
}

#help-mode-popup{
	top: 30px;
	left: -60px;
}

/* For Portfolio Items:*/
/* default */

.portfolio-item-default{
	width: 25%;
}

/* 1250px */

.portfolio-item-1250{
	width: 33.33%;
}

/* 920px */

.portfolio-item-920{
	width: 50%;
}

/* 570px */

.portfolio-item-570{
	width: 100%;
}

/* For Portfolio Items:*/
/* 100px all */

.padding-100{
	padding: 100px;
}

/* 100px 50px */
.padding-100-50{
	padding: 100px 50px;
}

/* 100px 30px */
.padding-100-30{
	padding: 100px 30px;
}

/* 100px 20px */
.padding-100-20{
	padding: 100px 20px;
}
