
html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
	background-color: white;
}

a{
	text-decoration: none;
}

footer{
	width: 100%;
	height: 60px;
	position: relative;
	display: flex;
	background-color: black;
}
footer h6{
	font-size: 12px;
	padding: 0;
	margin: auto;
	text-align: center;
	color: white;
}

/* Navigation */

.navi-main{
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	background-color: black;
	justify-content: center;
	position: fixed;
	z-index: 100;
}

.navi-cont{
	width: 100%;
	max-width: 1600px;
}

.navi-cont ul{
	margin: 0;
	padding: 0 30px;
	list-style: none;
	font-size: 18px;

}

.navi-logo{
	float: left;
}

.navi-logo a img{
	width: 40px;
	height: auto;
	padding: 8px 0px;
}

.navi-item{
	padding: 15px 10px;
	transition: color .2s;
}

.navi-item-drop-content .navi-item-drop{
	display: inline-block;
	float: right;
}

.navi-bars{
	display: none;
}

.navi-search{
	padding: 15px 10px;
}

.navi-search-form{
	padding: 0;
	margin: -7px 0;
	font-weight: 500;
	display: flex;
}

.navi-search-button, .navi-search-input{
	border-style: none;
	background-color: transparent;
}

.navi-search-button:hover{
	color: #1885ff;
}

.navi-search-input{
	padding: 3px;
	margin: 3px;
}


/*for nav scroll*/
.navi-main-scroll{
	background-color: white;
	top: 0;
}

.background-white{
	background-color: white;
}

.background-black{
	background-color: black;
}

.white-text{
	color: white;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s; 
}

.black-text{
	color: black;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s; 
}

.white-logo{
	filter: brightness(0) grayscale(1) saturate(0) invert(1);
	transition: filter .2s;
}

.black-logo{
	filter: brightness(0) grayscale(1) saturate(0);
	transition: filter .2s;
}

.white-logo:hover, .black-logo:hover{
	filter: none;
}

.white-border{
	border: 1px solid white;
}

.black-border{
	border-bottom: 1px solid black;
}

.white-text:hover a{
	color: #1885ff;
}

/* Paralax */

.parallax-content{
	position: relative;
	display: flex;
	width: 100%;
	height: 400px;
	text-align: center;
	background-origin: content-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	box-shadow: inset 0 0 30px;
}

.parallax-header{
	margin: auto;
	color: white;
	font-size: 55px;
	z-index: 2;
	width: 100vw;
}

#about-parallax{
	background-image: url(../img/Work1.JPG);
}

#portfolio-parallax{
	background-image: url(../img/Work2.JPG);
}

#contact-parallax{
	background-image: url(../img/Work3.JPG);
}

/* Main Sections */

.sect-short{
	height: 100%;
}

.sect-div{
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100%;
	border-top: solid transparent 100px;
	border-left: solid transparent;
	border-right: solid transparent;
}

.sect-title h1{
	font-size: 30px;
	
}

.sect-description{
	padding: 0;
	font-size: 17px;
}

.sect-short-cont{
	width: 100%;
	padding: 0; 
	margin: 0;
}

.short-cont{
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	text-align: center;
	align-content: space-between;
}

.short-cont-divide{
	border: 1px solid lightgrey;
}

.sect-short-img-cont-main{
	height: 400px;
	width: 400px;
	margin: 10px;
}

.sect-short-img-cont{
	height: 100%;
	width: 100%;
	transition-property: transform, box-shadow;
	transition: .2s;
}

.img-cont-overlay{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .2s;
}

.img-cont-overlay-button{
	display: flex;
	color: black;
	width: 40px;
	height: 40px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: white;
	border-radius: 100%;
	transition-property: transform, box-shadow;
	transition:.2s;
}

.img-cont-overlay-button i{
	transition: color .2s;
}

.img-cont-overlay-button:hover{
	box-shadow: 0 0 5px grey;
	transform: scale(1.2);
	cursor: pointer;
}

.img-cont-overlay-button:hover i{
	color: #1885ff;
}

.overlay-text{
	padding: 0;
	margin: 0;
}

.sect-short-img-cont:hover .img-cont-overlay{
	opacity: 1;
}

.sect-short-img-cont:hover{
	transform: scale(1.02);
	box-shadow: 0 0 10px grey;
}

.learn-more{
	color: rgba(0, 0, 0, .4);
	padding: 10px;
	margin: 10px;
	font-size: 15px;
	transition: color .2s;
}

.learn-more-text{
	display: inline-block;
	transform: translateX(11px);
	transition: transform .2s;
}

.learn-more-bar{
	visibility: hidden;
	display: inline-block;
	transition: transform .2s;
}

.learn-more:hover{
	color: rgba(0, 0, 0, 1);
}

.learn-more a{
	transition: color .2s;
}

.learn-more a:hover{
	color: #1885ff;
}

.learn-more a:hover .learn-more-text{
	transform: translateX(-4px);
}

.learn-more a:hover .learn-more-bar{
	visibility: visible;
	transform: translateX(1px);
}

/* Welcome */

.main-sect{
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.main-sect-cont{
	width: 100%;
	max-width: 1600px;
	justify-content: center;
}

#welcome{
	max-height: 100%;
	min-height: 100vh;
}

#welcome-cont{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 400px;
}

.welcome-top-pad{
	height: 50px;
}

.welcome-logo h1{
	margin: 0;
	font-size: 72px;
}

.welcome-logo h6{
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.welcome-logo-img{
	margin: 0;
	width: 75%;
	transition: transform .2s;
}

.welcome-logo-img:hover{
	transform: scale(1.01);
}

.welcome-top{
	min-height: 100px; 
	width: 100%;
}

.welcome-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100px; 
	width: 100%;
	opacity: .4;
	transition: opacity .2s;
}

.welcome-nav:hover{
	opacity: 1;
}

.welcome-nav-list{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.welcome-nav-li{
	display: inline-block;
	padding: 5px 5px;
	transition: color .2s;
}

.welcome-nav-li:hover{
	color: #1885ff;
}

.welcome-nav-i{
	font-size: 25px;
	transition: color .2s;
}

.welcome-nav-i:hover{
	color: #1885ff;
}

/* About */

#about{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main-sect-about{
	height: 100%;
	
}

#about-offer{
}

#about-us-cont{
}

#about-offer-cont{
}

#about-short{
	padding: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about-descriptions{
	display: grid;
	grid-auto-flow: column;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0px;
}

#about-desc-divide{
	height: 80%;
	margin: 30px;
}

#about-divide-one{
	margin: 30px 0px;
	width: 90%;
}

.about-us-desc{
	padding: 10px;
}

#about-blurb-image-cont{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 15px 0px;
}

.about-blurb-image{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 15px 0px;
}

.about-blurb-placeholder{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: white;
	background-color: #1885ff;
	height: 120px;
	width: 120px;
	margin: 5px;
	border-radius: 100%;
	transition-property: transform, box-shadow;
	transition: .2s;
}

.about-blurb-placeholder:hover{
	transform: scale(1.05);
	box-shadow: 0 0 7px grey;
}

.about-blurb-header{
	margin: 5px;
	padding: 0;
}

.about-blurb-desc{
	font-size: 15px;
	margin: 5px;
	padding: 0;
}

#about-images{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0px 0px 50px 0px;
}

#about-img-1{
	background: url(../img/stock1.jpg) no-repeat center; 
	background-size: cover;
}

#about-img-2{
	background: url(../img/stock2.jpg) no-repeat center; 
	background-size: cover;
}

#about-img-3{
	background: url(../img/stock3.jpg) no-repeat center; 
	background-size: cover;
}

/* Portfolio */

#portfolio{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#main-sect-portfolio{
	min-height: 400px;
}

#portfolio-short{
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

#portfolio-cols{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.portfolio-col-cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100%;
	margin: 10px;
}

.portfolio-col-cont-main{
	display: flex;
	width: 100%;
	height: 800px;
	background-color: #1885ff;
	justify-content: center;
	align-items: center;
	color: white;
	transition-property: transform, box-shadow;
	transition-duration: .2s;
}

.col-cont-main-items{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.col-cont-main-items h1{
	font-size: 30px;
}

#learn-more-port-col{
	color: rgba(255, 255, 255, .4);
}

#learn-more-port-text{
	transform: translateX(8px);
}

.learn-more-bar{
	transition: transform .2s;
}

#learn-more-port-col:hover{
	color: rgba(255, 255, 255, 1);
}

#learn-more-port-col a{
	transition: color .2s;
}

#learn-more-port-col a:hover{
	color: white;
	/*color: #1885ff;*/
}

#learn-more-port-col a:hover #learn-more-port-text{
	transform: translateX(-4px);
}

#learn-more-port-col a:hover #learn-more-port-bar{
	visibility: visible;
	transform: translateX(1px);
}

.portfolio-col-cont-main:hover{
	transform: scale(1.02);
	box-shadow: 0 0 10px grey;
}

/* Contact */

#contact{
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main-sect-contact{
	height: 400px;
}

/* Full Overlay */

.full-img-overlay{
	position: fixed;
	display: none;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	background-color: rgba(0,0,0,.8);
}

.full-img-overlay-cont{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 1 100%;
}

.full-img-overlay-button{
	display: flex;
	color: black;
	width: 40px;
	height: 40px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: white;
	border-radius: 100%;
	transition: transform .2s;
}

.button-usable{
	visibility: visible;
}

.button-usable:hover{
	box-shadow: 0 0 5px;
	transform: scale(1.2);
	cursor: pointer;
}

.button-usable:hover i{
	color: #1885ff;
}

.button-unusable{
	visibility: hidden;
}

#overlay-button-prev{
	flex: 0 0 40px;
}


#overlay-button-next{
	flex: 0 0 40px;
}

.full-img-overlay-img-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 1 70%;
}

.full-img-overlay-img{
	max-height: 100%;
	max-width: 100%;
	box-shadow: 0 0 30px;
}

/* Misc */

.tect-blue{
	color: #1885ff;
}

.title-underline{
	border-bottom: 3px solid #1885ff;
	padding: 0 5px
}

/* AOS Stuff */

[data-aos="learn-more-fade-up"] {
	opacity: 0;
	transform: translateY(100px);
	transition-property: transform, opacity;
}

[data-aos="learn-more-fade-up"].aos-animate {
	transform: translateY(0px);
	opacity: 1;
}

@media only screen and (max-width: 1600px){
	.sect-short-img-cont-main{
		height: 25vw;
		width: 25vw;
	}

	.portfolio-col-cont{
		width: 25vw;
	}

	.portfolio-col-cont-main{
		width: 100%;
	}
}

@media only screen and (max-width: 1300px){
	#portfolio-short{
		padding: 100px 50px;
	}

	#about-short{
		padding: 100px 50px;
	}

	.portfolio-col-cont{
		width: 30vw;
	}

	.sect-short-img-cont-main{
		width: 30vw;
		height: 30vw;
	}

	.portfolio-col-cont-main{
		width: 100%;
	}
}

@media only screen and (max-width: 1000px){
	#about-short{
		padding: 100px 20px; 
	}

	.navi-item-drop-content{
		top: 55px;
		position: absolute;
		left: 0;
		right: 0;
		padding: 0 30px;
		display: flex;
		height: 0;
		flex-direction: column-reverse;
		transition: height .2s ease-in;
		overflow: hidden;
		z-index: 1;
	}

	.navi-item-drop{
		text-align: center;
	}

	.navi-bars{
		display: block;
		float: right;
	}

	.navi-bars:hover{
		color: #1885ff;
	}

	.navi-bars:hover + .navi-item-drop-content, .navi-item-drop-content:hover{
		height: 300%;
	}

	.navi-search-form{
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
	}

	.navi-search-button{
		width: 5%;
	}

	.navi-search-input{
		width: 95%;
	}

	#portfolio-short{
		padding: 100px 20px;
	}

	.portfolio-col-cont-main{
		width: 100%;
	}
}

@media only screen and (max-width: 900px){
	.title-underline{
		border-bottom: 2px solid #1885ff;
		padding: 0 5px
	}


}

@media only screen and (max-width: 800px){
	#portfolio-cols{
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 248px;
		justify-content: space-between;
		justify-items: center;
	}

	#portfolio-cols:hover{
		cursor: grab;
	}

	.portfolio-col-cont{
		height: 456px;
	}

	.portfolio-col-cont-main{
		width: 228px;

	}
}

@media only screen and (max-width: 700px){
	.navi-search-button{
		width: 10%;
	}

	.navi-search-input{
		width: 90%;
	}

	#about-short{
		padding: 100px 30px;
	}

	#about-descriptions{
		grid-auto-flow: row;
		justify-items: center;
		grid-row-gap: 15px;
	}

	#about-us-cont{
		width: 100%;
	}

	#about-offer-cont{
		width: 100%;
	}

	#about-desc-divide{
		height: none;
		width: 80%;
		margin: 0px;
	}

	#about-divide-one{
		width: 80%;
	}

	#about-blurb-image-cont{
		flex-direction: column;
	}


	#about-images{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.sect-short-img-cont-main{
		margin: 15px 30px;
		width: 100%;
	}
}


@media only screen and (max-width: 400px){
	.navi-search-button{
		width: 20%;
	}

	.navi-search-input{
		width: 80%;
	}

	.welcome-logo h1{
		font-size: 18vw;
	}

}



/* For mobile */

@media only screen and (max-device-width: 1366px) and (orientation: landscape){
	.parallax-content{
		background-attachment: unset !important;
	}

	#welcome{
		min-height: 100%;
		height: 100vh;
	}

	#welcome-cont{
		width: 100%;
		height: 100%;
	}

	.welcome-logo-img{
		width: 20%;
	}

	.welcome-logo h1{
		font-size: 43px;
	}

	.welcome-top{
		min-height: 50px; 
		width: 100%;
	}

	.welcome-nav{
		min-height: 50px; 
		width: 100%;
	}

	.welcome-nav-i{
		display: none;
	}
}


@media only screen and (max-device-width: 1024px) and (orientation: portrait){
	.parallax-content{
		background-attachment: unset !important;
	}

	#welcome{
		min-height: 100%;
		height: 100vh;
	}

	#welcome-cont{
		width: 100%;
		height: 100%;
	}

	.welcome-logo-img{
		width: 45%;
	}

	.welcome-logo h1{
		font-size: 43px;
	}

	.welcome-top{
		min-height: 50px; 
		width: 100%;
	}

	.welcome-nav{
		min-height: 50px; 
		width: 100%;
	}

	.welcome-nav-i{
		display: none;
	}
}