html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}
.navi-main{
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
	display: flex;
	justify-content: center;
}

.navi-cont{
	width: 100%;
	max-width: 1080px;
}

.navi-cont ul{
	margin: 0;
	padding: 0 30px;
	list-style: none;
	font-size: 18px;

}

.navi-logo{
	float: left;
}

.navi-logo a img{
	width: 40px;
	height: auto;
	padding: 8px 0px;
}

.navi-item{
	display: inline-block;
	text-align: center;
	float: right;
	padding: 15px 10px;
}

.navi-item:hover{
	padding: 15px 10px 13px 10px;
	color: #1885ff;
	border-bottom: 2px solid #1885ff;
}

.navi-item:hover a{
	color: #1885ff;
}

.navi-bars{
	display: none;
}

.test{
	height: 500px;
}

#first{

}

#second{

}

#third{

}

/*for nav scroll*/
.navi-main-scroll{
	background-color: transparent;
	position: fixed;
}

.white-text{
	color: white;
}

.black-text{
	color: black;
}

.white-logo{
	filter: brightness(0) grayscale(1) saturate(0) invert(1);
}

.black-logo{
	filter: brightness(0) grayscale(1) saturate(0);
}

.white-logo:hover, .black-logo:hover{
	filter: none;
}
